# MongoDB Connection String
MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@cluster0.xxxxx.mongodb.net/jun-website?retryWrites=true&w=majority

# Next.js
NEXT_PUBLIC_SITE_URL=http://localhost:3000
